.inverse h1{
  color: #FFB612;
}

.inverse h2, .inverse h3 {
  color: #007A4D;
  line-height: 1.1em;
}


.title-slide .remark-slide-number {
  display: none;
}
/*
.reveal section p {
  color: blue;
}

#nextsteps {
   color: #ff0000;
}

.emphasized {
   font-size: 1.2em;
}
.title {
color: green;
}
.post {
color: red;
}
.author {
color: white;
}
.date {
color: white;
}

*/